.App {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
  color:white;
  background-color:rgb(32, 34, 37);
}

.nYearInput {
  font-size: 20px;
  text-align: center;
  width: 40px;
  color:white;
  background-color: rgba(255, 255, 255, 0);
  border:none;
}

.nYearText {
  font-size: 20px;
  user-select: none;
}

.forecast {
  font-size: 100px;
}
.c{
  font-size: 30px;
}