body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display:none;
}

.root {
    display:flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}


.scroll {
    scroll-snap-align: center;
}